{% extends 'shop/basic.html' %}

{% block title %}About Us{% endblock %}

{% block body %}



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Awesome Cart</h1>
      <p>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sodales dolor. Proin malesuada non leo vitae
        consectetur. Nullam quis dolor nec ex congue sollicitudin ut quis eros. Aenean malesuada, leo a ultricies
        euismod, nisl risus lobortis diam, eget lacinia eros sem et dolor. Nunc aliquet elementum justo. Quisque eget
        neque sed leo volutpat ornare. Quisque in quam id dui tincidunt ornare.

        Suspendisse eu aliquam nulla. Maecenas laoreet felis eget purus finibus, id rutrum erat molestie. Nulla sed
        massa sollicitudin, scelerisque nisi in, commodo ex. Aenean blandit nunc ex, eget bibendum dui rutrum nec.
        Aliquam eget congue tellus. In hac habitasse platea dictumst. Mauris malesuada mi eu dui feugiat, et fringilla
        ipsum iaculis. Phasellus suscipit varius aliquam.

        Integer in nunc eu mi facilisis facilisis. Cras a purus aliquet augue consectetur malesuada. Suspendisse at
        molestie augue, ac tempus felis. Integer molestie tellus sed dolor sagittis interdum. In hac habitasse platea
        dictumst. Duis ultricies a velit ut consectetur. Mauris condimentum scelerisque ex, vel varius nibh feugiat et.
        Integer tempus dui sit amet iaculis hendrerit. Nullam eget porta nunc. Donec sodales eros ut mi sodales
        facilisis. Proin porta sollicitudin purus. Aenean volutpat sem velit, iaculis convallis ligula feugiat eu.
        Integer ut augue scelerisque. </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
          Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>



{% endblock %}